---
import ServicesReact from "./ServicesReact";
---

<section class="py-2 bg-background relative">
  <!-- Use client:load to make the React component interactive -->
  <ServicesReact client:load />
</section>
