---
import Container from "../common/Container.astro";
import SectionHeading from "../common/SectionHeading.astro";
import TestimonialSection from "./TestimonialSlider";

const testimonials = [
  {
    name: "Komal Fating",
    role: "Pre-Wedding Client",
    content:
      "I went to pixel city for my pre-wedding shoot. All the sets are really amazing. There are different kinds of sets like cultural, coffee dates, romantic glass house and many more. I tried few dresses as well. We had an amazing experience at pixel city.",
    rating: 5,
    venueImage:
      "https://ik.imagekit.io/c54qkthzl/0C9A6805%20-%20komal%20fating.jpeg",
    setName: "Retro studio",
  },
  {
    name: "Saurabh Vidyadhar",
    role: "Modelling shoot Client",
    content:
      "I love love love the place.. best for all kinda shoots..especially pre-wedding.. i have done modelling shoots there .. the host is really nice.. the services are great.. most of all the the sets are just amazing .. 10 out of 10",
    rating: 5,
    venueImage:
      "https://ik.imagekit.io/c54qkthzl/5b105eb6-c4fb-4f06-b101-3e71461999a5%20-%20Saurabh%20Vidyadhar.jpeg",
    setName: "Dreamy Walkway",
  },
  {
    name: "Prajkta Talpekar",
    content:
      "We had a great time there, they have best sets available in Nagpur. The owner and the staff are also very cooperative and helping.",
    role: "Pre-Wedding Client",
    rating: 5,
    venueImage:
      "https://ik.imagekit.io/c54qkthzl/056e94cc-5c0a-428c-8f63-ea1200b3320a%20-%20Prajkta%20Ikhar.jpeg",
    setName: "Brand Shoot",
  },
];
---

<Container class="pb-4">
  {/* Section Header */}
  <div class="max-w-7xl mx-auto text-center mb-16">
    <SectionHeading
      title="Client Stories"
      subtitle="Creating timeless memories with our cherished clients"
    />
  </div>
  <section class="relative">
    <TestimonialSection client:load testimonials={testimonials} />
  </section>
</Container>
