---
import { ScrollProgress } from "../components/animation/ScrollProgress";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SEO from "../SEO/SEO.astro";
import type { SEOProps } from "../types/seo";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  seo: SEOProps;
}

const { seo } = Astro.props;
---

<BaseLayout>
  <SEO seo={seo} />
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1">
      <ScrollProgress client:load />
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
